<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcomepage
        </title>
    </head>
    <body>
        <h1>
            Du bist erfolgreich angemeldet
        </h1>
        <p>user: <%= param_user%></p>
        <p>
            <a href="\welcome">Zurück zur Anmeldung</a>
        </p>
    </body>
</html>